---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import PartnerManagement from '../components/PartnerManagement.astro';
---

<DefaultLayout title="Partners">
  <section class="mt-64">
    <div id="app" class="container">
      <header>
        <h1 class="mb-16 text-6xl">Partner Management</h1>
      </header>
      <PartnerManagement />
    </div>
  </section>
</DefaultLayout>
