---
import SponsorCard from './SponsorCard.astro';
import sponsors from '../data/sponsors.json';
---

<div class="sponsor-list">
  {sponsors.map((sponsor) => (
    <SponsorCard {...sponsor} />
  ))}
</div>

<style>
  .sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
