---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .nav-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
        }
        .logo-container {
            display: flex;
            align-items: center;
        }
        .logo-container img {
            width: 40px;
            height: 40px;
            margin-right: 0.5rem;
            border-radius: 50%; /* Optional, for a circular logo */
        }
        .links a {
            margin-left: 1rem;
            text-decoration: none;
            color: #333;
            transition: color 0.3s ease;
        }
        .links a:hover {
            color: #007bff;
        }
    </style>
</head>
<body class="bg-gray-100">
    <nav>
        <div class="nav-container">
            <div class="logo-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgL8gqkstM74eRZUgryws2eTUFBusSVrw_6w&s" alt="GDG Logo">
                <h1 class="text-xl font-bold">GDG External Relations</h1>
            </div>
            <div class="links">
                <a href="/" class="hover:text-blue-600">Home</a>
                <a href="/sponsors-management" class="hover:text-blue-600">Sponsors</a>
            </div>
        </div>
    </nav>
    
    <main>
        <slot />
    </main>
</body>
</html>